---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ProjectsList from "@/components/ProjectsList";

const repos = ["StileDevs/GrowServer", "StileDevs/growtopia.js", "JadlionHD/Enty"];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 transition:name="profile-name" class="text-center">Stuff that I made</h1>
      <div class="flex flex-wrap gap-6 items-center justify-center">
        <ProjectsList repos={repos} client:load />
      </div>
    </main>
    <Footer />
  </body>
</html>
