---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Card from "@/components/Card.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 transition:name="profile-name">Stuff that I made</h1>

      <div class="flex flex-wrap gap-10 items-center justify-center">
        <Card title="GrowServer" href="https://github.com/StileDevs/GrowServer" description="A Growtopia private server using Node.js & Bun.js" />
        <Card
          title="growtopia.js"
          href="https://github.com/StileDevs/GrowServer"
          description="A Rust based, cross-platform, high-performance Growtopia private server framework utilizing Node.js, Bun.js."
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
