---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Card from "@/components/Card.astro";
import { fade } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div transition:name="profile-name" transition:animate={fade({ duration: "0.25s" })} class="md:text-6xl text-4xl text-center mb-4">
        Stuff that I made
      </div>

      <div class="flex flex-wrap gap-6 items-center justify-center">
        <Card title="GrowServer" href="https://github.com/StileDevs/GrowServer" description="A Growtopia private server using Node.js & Bun.js" />
        <Card
          title="growtopia.js"
          href="https://github.com/StileDevs/growtopia.js"
          description="A Rust based, cross-platform, high-performance Growtopia private server framework utilizing Node.js, Bun.js."
        />
        <Card title="n-enet" href="https://github.com/JadlionHD/n-enet" description="Transpiled ENet library to Javascript" />
        <Card
          title="Yukio Lumina"
          href="https://discord.com/oauth2/authorize?client_id=510749305208963092&permissions=1644971949567&scope=applications.commands+bot"
          description="A Golang based, Discord bot that can play music."
        />
      </div>
    </main>
    <Footer />
  </body>
</html>
