---
const { title, description, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="border-2 p-6 rounded-lg border-zinc-500 h-[180px] w-[320px] ease-in-out transition hover:-translate-y-2 hover:scale-105 hover:shadow-lg"
>
  <div class="font-bold">{title}</div>
  <div class="text-sm line-clamp-4">{description}</div>
</a>
