---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";

const routeName = Astro.url.pathname.replace(/\/$/, "");
---

<header class="sticky top-0 z-50">
  <nav class="flex items-center justify-between">
    {
      routeName !== "/about" && (
        <a href="/" class="flex md:flex-row flex-col items-center gap-2">
          <Image
            width={32}
            height={32}
            src="https://avatars.githubusercontent.com/u/48410066?v=4"
            alt="Profile Github"
            class={`rounded-full ${routeName === "/about" ? "hidden" : ""}`}
            transition:name="profile-github"
          />

          <div transition:name="nav-name" class={`text-base font-bold ${routeName === "/about" ? "hidden" : ""}`}>
            {SITE_TITLE}
          </div>
        </a>
      )
    }

    <div class="internal-links" transition:name="nav-menu">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    background-color: var(--primary-foreground);
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--primary);
  }
</style>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const menuContainer = document.getElementById("menu-container");

  menuToggle?.addEventListener("click", () => {
    console.log("clicked");
    menuContainer?.classList.toggle("hidden");
  });
</script>
